@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Lato:wght@300;400;700;900&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,600;1,700;1,800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* Nav starts  */
.nav-container {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-part {
  width: 50%;
  display: flex;
  margin-left: 200px;
  align-items: center;
  font-size: 45px;
  font-weight: 700;
  gap: 20px;
}

.logo-part span {
  color: #ff42a5;
  font-style: normal;
}
.menu-part {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 50px;
  gap: 40px;
}

.menu-part a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #534c64;
}
.menu-part .login-btn {
  width: 262px;
  height: 56px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 20px 20px;
  text-align: center;
}
.fa-brands {
  margin-left: 15px;
}
/* Nav ends */
/* banner section start */
.banner-container {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 40px;
  display: flex;
  background-image: url("./images/Group\ 14.png");
  object-fit: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  align-items: center;
}
.banner-info {
  width: 50%;

  text-align: center;
}
.banner-image {
  width: 50%;
}
.banner-image img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}
.banner-info h2 {
  font-size: 48px;
  font-weight: 600;
}
.banner-info .banner-name {
  font-size: 95px;
  font-weight: 800;
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.btn-1 {
  font-size: 20px;
  font-weight: 600;
  padding: 20px 40px;
  border-radius: 48px;
  background-color: #ff42a5;
  border: none;
  color: white;
  margin-right: 10px;
}
.btn-2 {
  font-size: 20px;
  font-weight: 600;
  padding: 20px 40px;
  border-radius: 48px;
  background-color: #4ec5f7;
  border: none;
  color: white;
  margin-left: 10px;
}
/* banner section end */
/* we are gamer section start  */
.gamer-container {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 200px;
  display: flex;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.gamer-img {
  width: 50%;
}
.gamer-img img {
  width: 100%;
  margin-left: 50px;
  object-fit: cover;
}
.gamer-info {
  width: 50%;
  text-align: right;
}
.gamer-info h2 {
  font-size: 48px;
  font-weight: 700;
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.gamer-info p {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
}
.gamer-info q {
  color: #534c64;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.gamer-info pre {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 400;
  color: #534c64;
}
/* we are gamer section end  */
/* online game part start */
.online-game-container {
  max-width: 1400px;
  min-height: 400px;
  margin: 0 auto;
  text-align: center;
}
.online-game-container h2 {
  padding-top: 80px;
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}
.online-game-container p {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
}
.online-game-container span {
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.game-media {
  display: grid;
grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.class-2 {
  position: relative;
  visibility: none;
  /* display: inline-block; */
}
.class-2 p {
  color: #ff42a5;
}
.online-video{
    position: relative;
}
.online-video img{
    width: 100%;
}
.play-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  border: 4px solid #ff42a5;
  border: 4px solid #F948B2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.play-button p{
    color: #F948B2;
}
.online-video:hover .play-button{
    opacity: 1;
}

.class-2:hover .play-button {
  opacity: 1;
}
.play-button .fa-solid {
  color: #ff42a5;
  font-size: 30px;
}

/*  online game part end  */
/* Instant Playing section starts */
.instant-playing-container {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 50px auto;
}
.instant-playing-info {
  width: 50%;
  text-align: center;
}
.instant-playing-img {
  width: 50%;

  position: relative;
}
.instant-playing-img img {
  width: 100%;
}

.corner-img {
  position: absolute;
  top: 55%;
  left: -20%;
  width: 50%;
}
.instant-playing-info h2 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}

.instant-playing-info > h2 span {
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.instant-playing-info {
  width: 50%;
}

/* Instant Playing section Ends */

/* Instant Playing section part-2 starts */
.instant-playing-container1 {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin: 200px auto;
}
.instant-playing-info1 {
  width: 50%;
  text-align: center;
}
.instant-playing-img1 {
  width: 50%;

  position: relative;
}
.instant-playing-img1 img {
  width: 100%;
}

.corner-img1 {
  position: absolute;
  top: 55%;
  right: -20%;
  width: 50%;
}
.instant-playing-info1 h2 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}

.instant-playing-info1 > h2 span {
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.instant-playing-info1 {
  width: 50%;
}

/* Instant Playing section part-2 Ends */

/* Career section start  */
.career-container {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff42a5;
  margin: 0 auto;
  color: white;
}
.career-info {
  width: 50%;
  margin-left: 150px;
}
.career-info h2 {
  font-size: 48px;
  font-weight: 700;
}
.career-info p {
  font-size: 18px;
  font-weight: 400;
}

.career-img {
  width: 50%;
}
.career-img img {
  width: 100%;
}
.list-item {
  display: flex;
  justify-content: space-between;
}
.group-list {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  /* margin-left:100px ; */
}
.country-name {
  text-align: right;
  font-size: 20px;
  font-weight: 400;
}
.btn-3 {
  font-size: 20px;
  font-weight: 600;
  padding: 20px 40px;
  border-radius: 48px;
  background-color: white;
  border: none;
  color: rgb(10, 0, 0);
  margin-bottom: 100px;
  margin-top: 30px;
}


.type-of-games-container {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(5,  1fr);
  margin: 100px auto;
gap: 20px;

}
.type-of-games-container img{
    width: 30px;
}
.btn-game-type {
    /* width: 280px; */
  padding: 10px 05px;
  border-radius: 48px;
  border: none;
  color: #0b0223;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(245, 242, 242);
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.btn-game-type:hover {
  border: 3px solid #ff42a5;
  cursor: pointer;
}

/* Games type end */
/* footer starts */
.footer-container {
  max-width: 1400px;
  min-height: 500px;
  background-color: #0b0223;
  margin: 50px auto;
  text-align: center;

}
.footer-logo {
  width: 100%;
  color: aliceblue;
  display: flex;
    font-size: 45px;
  font-weight: 700;
  gap: 20px;
  display: inline-block;
 margin-top: 30px; 
  
}

.footer-logo span {
  color: #ff42a5;
  font-size: 45px;
}

.footer-list {
  display: flex;
  font-size: 18px;
  gap: 50px;
  display: inline-block;
  margin-bottom: 30px;
}
.footer-list a {
  text-decoration: none;
  color: aliceblue;
}
.footer-icon{
    margin-bottom: 30px;
}
.twiter {
  font-size: 60px;
  border-radius: 50%;
  padding: 10px;
  color: skyblue;
}
.facebook {
  font-size: 60px;
  border-radius: 50%;
  padding: 10px;
  color: white;
}
.linkedin {
  color: rgb(7, 119, 184);
  font-size: 60px;
  border-radius: 50%;
  padding: 10px;
}
.youtube {
  font-size: 60px;
  border-radius: 50%;
  padding: 10px;
  color: red;
}
.instagram {
  font-size: 60px;
  border-radius: 50%;
  padding: 10px;
  color: palevioletred;
}
.apple {
  font-size: 60px;
  border-radius: 50%;
  padding: 10px;
  color: white;
}
.terms-condition{
    display: flex;
    gap: 50px;
   margin-bottom: 30px; 
   display: inline-block; 
   
}
.terms-condition a{
    text-decoration: none;
    color: aliceblue;
   
   
}
.copy-right {
  color: white;
  font-size: 16px;
  margin-bottom: 50px; 
   /* display: inline-block;    */
}
/* footer end */
